nav.navbar {
  z-index:20000;
  background-color: rgb(104, 145, 162);
  a:hover {
    background-color: rgb(104, 145, 162);
    color: $link_color_hover;
    @include transition(0.218s);
  }
  button.navbar-toggler {
    border-color: #CCD8DD;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 247, 247, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    span {
      color: #F7F7F7;
    }
  }
  a.navbar-brand{
    color: #F7F7F7;
  }
  ul.navbar-nav {
    li {
      a.nav-link {color: #F7F7F7;}
    }
  }
}
